BasedOnStyle: WebKit
Language: Cpp
LineEnding: LF
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: AcrossEmptyLines
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
IndentCaseLabels: true
